#click-me-button{
    width: 200px;
    height: 200px;
    border: 3px solid black;
    background-image: linear-gradient(#0c0cff, #00005a);
    border-radius: 500px;
    outline: none;
    position: fixed;
    left: calc(50% - 200px / 2);
    top: calc(50% - 200px / 2);
    color: white;
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
    transition: border 0.25s, box-shadow 0.1s;
    cursor: pointer;
}
#click-me-button:hover{
    background-image: linear-gradient(#1414ff, #00006e);
    border: 3px solid blueviolet;
    box-shadow: 3px 3px 15px rgb(0, 0, 0);
}
#click-me-button:active{
    background-image: linear-gradient(#2020ff, #000080);
    box-shadow: 1px 1px 15px rgb(0, 0, 0);
}