.other-user-cursor-container{
    pointer-events: none;
    position: fixed;
    color: white;

    .other-user-cursor-name{
        text-align: center;
        transform: translateX(calc(45% * -1));
        max-width: 120px;
    }

    .other-user-cursor-points-given{
        text-align: center;
        transform: translateX(calc(48% * -1));
    }
}