@keyframes cursor-click-normal{
    0%{
        opacity: 0;
    }
    5%{
        opacity: 1;
    }
    100%{
        transform: scale(7.5);
        opacity: 0;
    }
}
@keyframes cursor-click-center{
    0%{
        opacity: 0;
    }
    5%{
        opacity: 1;
    }
    100%{
        transform: scale(1.75);
        opacity: 0;
    }
}

.cursor-click{
    border: 2px solid red;
    position: fixed;
    border-radius: 10000px;
    z-index: -1;
    box-sizing: border-box;
    transform-origin: center;
}

.cursor-click-normal{
    width: 10px;
    height: 10px;
    opacity: 0;
    animation: cursor-click-normal 0.5s ease-out;
}

.cursor-click-center{
    width: 190px;
    height: 190px;
    left: calc(50% - 190px / 2 + 1px);
    top: calc(50% - 190px / 2 + 1px);
    animation: cursor-click-center 0.75s ease-out;
}