body{
    margin: 0px;
    user-select: none;
    font-family: "Arial";
}

#main-page{
    #points-text-container{
        color: white;
        position: fixed;
        left: 0px;
        top: calc(17% - 20px);
        width: 100%;
        height: 40px;
        text-align: center;
    }

    #points-text{
        font-size: 40px;
    }

    .todo{
        position: fixed;
        bottom: 0px;
        right: 0px;
        color: white;
        max-width: 200px;
    }
}