body{
    margin: 0px;
}

#main-page{
    #points-text{
        color: white;
        font-family: "Arial";
        width: 100%;
        font-size: 40px;
        height: 40px;
        text-align: center;
        position: fixed;
        top: calc(17% - 20px);
        user-select: none;
    }

    .todo{
        position: fixed;
        bottom: 0px;
        right: 0px;
        color: white;
        max-width: 200px;
    }
}